---
layout: master.ru
---
<article>
  {{ content }}
  {% include google_adsense.html %}
</article>
<aside>
  <h2>Контакты <small>(<a href="/ru/envek.ru.vcf">vCard</a>)</small></h2>
  <address id="contacts">
    <dl>
      <dt><img src="/images/icons/email.png" alt="E-mail"></dt><dd><a href="mailto:envek@envek.name">envek@envek.name</a></dd>
      <dt><img src="/images/icons/phone.png" alt="Phone"></dt><dd><a href="tel:+79296561836">+7 929 656-18-36</a></dd>
      <dt><img src="/images/icons/skype.png" alt="Skype"></dt><dd><a href="callto://envekus">envekus</a></dd>
  </address>
  <div id="hire">
    <h2>Работа</h2>
    <p>Пока что я работаю в <a href="http://at-consulting.ru/">AT Consulting</a>, но вы всё-равно можете посмотреть <a href="http://envek.name/ru/resume.pdf">моё резюме</a> и взять меня на заметку.</p>
  </div>
  <h2><a href="{{ site.url }}/{{ page.lang }}/blog/">Блог</a></h2>
  {% include last_blog_articles.html %}
</aside>
