---
layout: master.ja
---
<article>
  {{ content }}
  {% include google_adsense.html %}
</article>
<aside>
  <h2>コンタクト <small>(<a href="/ja/envek.ja.vcf">vCard</a>)</small></h2>
  <address id="contacts">
    <dl>
      <dt><img src="/images/icons/email.png" alt="E-mail"></dt><dd><a href="mailto:envek@envek.name">envek@envek.name</a></dd>
      <dt><img src="/images/icons/phone.png" alt="Phone"></dt><dd><a href="tel:+79296561836">+7 929 656-18-36</a></dd>
      <dt><img src="/images/icons/skype.png" alt="Skype"></dt><dd><a href="callto://envekus">envekus</a></dd>
  </address>
  <h2>勤務</h2>
  <p>今のところでは「 <a href="https://evilmartians.com/">Evil Martians</a>」に勤めています。</p>
  <h2><a href="{{ site.url }}/{{ page.lang }}/blog/">ブログ</a></h2>
  {% include last_blog_articles.html %}
</aside>
