---
layout: master.en
---
<article>
  {{ content }}
</article>
<aside>
  <h2>Contacts <small>(<a href="/en/envek.en.vcf">vCard</a>)</small></h2>
  <address id="contacts">
    <dl>
      <dt><img src="/images/icons/email.png" alt="E-mail"></dt><dd><a href="mailto:envek@envek.name">envek@envek.name</a></dd>
      <dt><img src="/images/icons/phone.png" alt="Phone"></dt><dd><a href="tel:+79296561836">+7 929 656-18-36</a></dd>
      <dt><img src="/images/icons/skype.png" alt="Skype"></dt><dd><a href="callto://envekus">envekus</a></dd>
  </address>
  <div id="hire">
    <h2>Work</h2>
    <p>I'm currently employeed at <a href="http://at-consulting.ru/">AT Consulting</a> and unavailable for hire. But you can count on me and download <a href="http://envek.name/en/resume.pdf">my résumé</a>.</p>
  </div>
  <h2><a href="{{ site.url }}/{{ page.lang }}/blog/">Blog</a></h2>
  {% include last_blog_articles.html %}
</aside>
